@use "defs.scss" as *;

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('./fonts/roboto-v27-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v27-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/roboto-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('./fonts/roboto-v27-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v27-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


* {
    box-sizing: border-box;
}


body, html {
    color: #fff;
    background-color: $bg-base;
    font: 400 17px/20px "Roboto", sans-serif;
    height: 100vh;
    margin: 0;
    width: 100vw;
    position: fixed;
}
#loader {
    background-color: $bg-base;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}
#loader > div {
    height: 256px;
    left: 50%;
    margin: -128px 0 0 -128px;
    position: absolute;
    top: 50%;
    width: 256px;
}
#loader > div::before {
    background-color: #fff;
    border-radius: 2px;
    content: "";
    height: 68px;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 4px;
    z-index: 42;
}
#loader > div::after {
    background-color: #fff;
    border-radius: 2px;
    content: "";
    height: 4px;
    left: 190px;
    position: absolute;
    top: 254px;
    width: 68px;
    z-index: 42;
}
#loader > div > div {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#loader > div > div > div:nth-child(1) {
    animation: loader1 0.3s infinite linear;
    -webkit-animation: loader1 0.3s infinite linear;
    background: url(../assets/defaultPack/mover.png) repeat-x 0 0;
    background-size: 64px 64px;
    height: 64px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-64px);
    width: 256px;
    z-index: 40;
}
@keyframes loader1 {
    0% {
        transform: translateX(-64px);
    }
    100% {
        transform: translateX(0);
    }
}
#loader > div > div > div:nth-child(2) {
    background: url(../assets/defaultPack/redirector.png) repeat-x 0 0;
    background-size: 64px 64px;
    height: 64px;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(90deg);
    width: 64px;
    z-index: 41;
}
#loader > div > div > div:nth-child(3) {
    animation: loader2 0.3s infinite linear;
    -webkit-animation: loader2 0.3s infinite linear;
    background: url(../assets/defaultPack/mover.png) repeat-x 0 0;
    background-size: 64px 64px;
    height: 64px;
    left: 256px;
    position: absolute;
    top: 64px;
    transform: rotate(90deg) translateX(-64px);
    transform-origin: top left;
    width: 256px;
    z-index: 40;
}
@keyframes loader2 {
    0% {
        transform: rotate(90deg) translateX(-64px);
    }
    100% {
        transform: rotate(90deg) translateX(0);
    }
}

button {
    appearance: none;
    background-color: $bg-foreground;
    border: 2px solid $bg-foreground;
    color: #fff;
    cursor: pointer;
    display: block;
    font: 400 16px/18px "Roboto", sans-serif;
    outline: none;
    padding: 7px;
    width: 100%;

    &:hover {
        background-color: #3a3a3a;
    }
    &:active {
        background-color: #404040;
    }
}
button.big {
    font: 400 20px/25px "Roboto", sans-serif;
    padding: 15px;
}
button.center {
    width: auto;
    margin: auto;
}

.space {
    padding: 0;
    height: 20px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="url"] {
    appearance: none;
    background-color: $bg-foreground;
    border: none;
    color: #fff;
    display: inline-block;
    font: 400 17px/20px "Roboto", sans-serif;
    outline: none;
    padding: 7px;
    width: 200px;
}
input.big {
    font: 400 22px/25px "Roboto", sans-serif;
    margin: 10px;
    padding: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

input[type="checkbox"] {
    appearance: none;
    background-color: $bg-foreground;
    border: none;
    color: #fff;
    display: inline-block;
    height: 20px;
    outline: none;
    position: relative;
    margin: 0;
    width: 20px;
    vertical-align: middle;
}
input[type="checkbox"]:checked::after {
    border: 2px solid #fff;
    border-right: none;
    border-top: none;
    content: "";
    display: block;
    height: 6px;
    left: 2px;
    position: absolute;
    top: 3px;
    width: 15px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: $bg-foreground;
    border: none;
    color: #fff;
    display: inline-block;
    height: 10px;
    outline: none;
    position: relative;
    margin: 0;
    width: 200px;
    vertical-align: middle;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    appearance: none;
    -webkit-appearance: none;
    background-color: $bg-foreground;
    border: none;
    color: #fff;
    display: inline-block;
    height: 10px;
    outline: none;
    position: relative;
    margin: 0;
    width: 200px;
    vertical-align: middle;
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    margin-top: -5px;
    width: 20px;
}

@import "./style_ui.scss";


// boxes (blurry background)
.box {
    backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    background-color: rgba(54, 54, 54, 0.95);
    border: 2px solid #404040;

    &.box-medium {
        background-color: rgba(54, 54, 54, 0.925);
    }
    &.box-soft {
        background-color: rgba(54, 54, 54, 0.8);
    }

    &.box-top { border-width: 2px 0 0 0; }
    &.box-bottom { border-width: 0 0 2px 0; }
    &.box-left { border-width: 0 0 0 2px; }
    &.box-right { border-width: 0 2px 0 0; }
}
